/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #154360;
}

.color-2 {
    background: #2E86C1;
}

.color-3 {
    background: #A9CCE3 ;
}
.color-4 {
    background: white ;
}
.color-5 {
    background: #99A3A4 ;
}

/* Textures or Patterns*/
.pattern-1 {
    background: url("../img/fabric.png");
}

.pattern-2 {
    background: url("../img/fabric2.png");
}
.pattern-3 {
    background: url("../img/fabric3.png");
}
.pattern-4 {
    background: url("../img/fabric4.png");
}
.pattern-5 {
    background: url("../img/fabric5.png");
}


/* Imagery */


/* Icons */


/* Navigation */
a:link, 
a:visited {
    color: royalblue;
    
}

a:hover {
    background: crimson;
    margin-left: 10px;
}

a:active {
    color: white;
    background: blue;
}

/* Typography */

p {
    font-family: 'Helvetica', cursive;
}




